/* Presentation */

header{
 background-image: url(../img/bg/horizon-what.jpg);
 background-position: center;
 background-size: cover;
 position: relative;
}

.img-logo{
    width: 40px;
}

header::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.vh-50{
    height: 50vmin;
}

.filter{
    opacity: .7;
    background-color: rgba(0, 0, 0, 1);
}
/* Experience */

.card-img-filter{
    filter: brightness(0.5);
}

.card{
    transition-duration: .6s;  
    
    clip-path: circle(110% at 50% 50%);
    /* clip-path: polygon(
        50% 0,
        100% 0,
        100% 50%,
        100% 100%,
        50% 100%,
        0 100%,
        0 50%,
        0 0
    ); */
}

.card-effect:hover .card{
   
    clip-path: circle(50% at 50% 50%);
    
}


.card-img-overlay{
    transition-duration: .6s;
}

.text-effect:hover .card-img-overlay{
   transform: scale(0.9);
    
}

.cardbg:hover{
    transform: scale(0.9);
    transition-duration: .9s;
}

.cardbg{
    background:  url(../img/bg/footer-texture-top.jpg) no-repeat fixed center;
    opacity: 0.3;

  }

.non-filter{
    opacity: 1;
}

  /* Comments */

  .comments{
      background-image: url(../img/bg-clients.jpeg);
      background-position: center;
      background-size: cover;
  }

  .comments__img{
      --tamano: 150px;
      width: var(--tamano);
      height: var(--tamano);
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
      border: 3px ridge #fff;
  }

  .transform-turn{
      transform: rotate(.5turn);
  }

  /* Media queries */


  @media screen and (max-width: 375px){
    
    .vh-50{
        height: 70vmax;
    }

  }